body {
    background-color: #111111;
    color: #FFFFFF;
    margin-left: 2%;
}

.side_bar{
    margin-left: 2%;
    
}

.content{
    color: black;
    border: 1px solid white;
   border-radius: 40px;
   height: 986px;
   
    
}

.home{
    margin-left: 2%;
}

.create_contact{
    margin-top: 40%;  
}


a{
    text-decoration: none;
}

.contact{
    margin-left: 3%;
    margin-right: 3%;
}

input::placeholder {
    color: black;
  }

  .number{
    width: 38%;
    
  }

  .contact-image{
    margin-left: 15%;
  }

  .contact-info{
    background-color: #DEDEFF;
    width: 450px;
    padding:20px;
  }